



















<div id="example">
  {{ message }}
</div>




<newComponent></newComponent>

<div id="app">
	{{message}}
</div>


<div id="app">
  <p v-if="variable">hello</p>
</div>


<div id="app">
  <ol>
    <li v-for="var in array">
      {{ var.text }}
    </li>
  </ol>
</div>


<button v-on:click="methode">start methode</button>

<myComponent></myComponent>


<myComponent v-bind:componentProp="parentItem"></myComponent>



<span>message: {{ msg }}</span>

<span v-once> onveranderd : {{ msg }}</span>


<span v-bind:id='customid'> </span>


{{ message | capitalize }}


{{  number + 1 }}


{{ (var) ? "true" : "false" }}


<span v-class="
  red    : hasError,
  bold   : isImportant,
  hidden : isHidden">
 </span>



<button v-on:click.prevent ></button>


<li v-for="n in even(numbers)">{{ n }}</li>


<button v-on:click='counter+=1'> count </button>

<button v-on:click="count()"> count </button>







<button v-on:click="count(), $event"> count </button>

<input type="text" v-on:keyup.13="submit" >



<select v-model="selected">

	    <option v-for="option in options" v:bind:value="option.value">
	      {{option.text}}
	    </option>


</select>



<comp some-prop="1"></comp>



<comp v-bind:some-prop="1"></comp>



