               
            <div ng-if="cardInfoCtrl.card.title">
         <hr>

            <div class="col-md-6">
                    
                    <div class="form-group">
                        <input ng-model="cardUpdateCtrl.title" class="form-control" type="text" name="title" placeholder="nieuwe titel">
                    </div>
                     <div class="form-group">
                        <input ng-model="cardUpdateCtrl.body" class="form-control" type="text" name="body" placeholder="nieuwe inhoud">
                     </div>
                         <div class="form-group">
                        <button ng-click="cardUpdateCtrl.updateCard()" class="btn">voeg toe</button>
                     </div>
             </div>
             </div>